.content {
    padding-left: 20px;
    display: flex;
    width: calc(100% - 20px);
    height: 100%;
    font-family: LibreFranklin;
}

.main {
    height: 100%;
    width: 100%;

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}