<dashboard-template class="content" title_str="Dashboard" description="Gives some informations about different things."
  backgroundColor="var(--background)">
  <div class="main">
    <div class="card">
      <h3>Total Campaigns</h3>
      <h2>{{totalCampaigns}}</h2>
    </div>
    <div class="card">
      <h3>Total Entries</h3>
      <h2>{{totalEntries}}</h2>
    </div>
    <div class="card">
      <h3>Total Messages</h3>
      <h2>{{totalMessages}}</h2>
    </div>
    <div class="card">
    </div>
  </div>
</dashboard-template>