body {
    margin: 0;
}

@font-face {
    font-family: LibreFranklin;
    src: url("../src/assets/LibreFranklin-Medium.ttf") format("truetype");
}

html {
    --primary: #b9b4f0; // 60
    --primary-50: #b9b4f06b; // 60
    --secondary: #2596f8; // 30
    --secondary-50: #2596f87c; // 30
    --accent: #8332AC; // 10
    --text: #000000;
    --text-50: #0000001a;
    --background: whitesmoke;
    --border-radius: 10px;

    // Rewriting the angular materials
    --mdc-filled-text-field-focus-active-indicator-color: var(--secondary) !important;
    --mdc-filled-text-field-focus-label-text-color: var(--secondary) !important;
}